body{
    font-family: 'Nunito';
}

h2{
    font-size: 50px;
    padding: 10px 20px;
    color: #a3d063;

  /*  border: 1px solid #a3d063;*/
}
#My
{

}
#mario-chat{
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    /*border: 1px solid #a3d063;*/
    /*border: 1px solid #ddd;*/
    /*box-shadow: 1px 3px 5px rgba(0,0,0,0.05);*/
    border-radius: 2px;
}

.box{
  background:white;
  width:600px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:20px 70px 200px 70px;
  border: #a3d063 4px solid;
}
.send_mess{
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  margin-top:20px;
  margin-bottom:20px;
  /*cursor: pointer;*/
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
